<div class="bg-slate-200 flex justify-center items-center">
    <div class="w-40">
        <h1 class="mb-6 text-center text-2xl">Formulario de Contacto</h1>
        <!--form [formGroup]="form" (submit)="send()"-->
        <form [formGroup]="formContacto">
    
            <!-- input nombre -->
            <div class="my-5 p-3">
                <label for="Nombre">Nombre</label>
                <input [invalid]="formContacto.get('Nombre')?.valid"
                overUp type="text" id="Nombre" formControlName="Nombre" class="border-2 border-gray-500 p-2 rounded-md  focus:outline-teal-500" 
                [(ngModel)]="Nombre">
            </div>
            <!-- input email -->
            <div class="my-5 p-3">
                <label for="email">Email</label>
                <input overUp type="text" id="email" formControlName="email" class="border-2 border-gray-500 p-2 rounded-md  focus:outline-teal-500" [(ngModel)]="email">
            </div>
            <div class="my-5 p-3">
                <label for="telefono">Tel&eacute;fono</label>
                <input overUp type="text" id="telefono" formControlName="telefono" class="border-2 border-gray-500 p-2 rounded-md  focus:outline-teal-500" [(ngModel)]="telefono">
            </div>
            <div class="my-5 p-3">
                <label for="asunto">Asunto</label>
                <input overUp type="text" id="asunto" formControlName="asunto" class="border-2 border-gray-500 p-2 rounded-md  focus:outline-teal-500" [(ngModel)]="asunto">
            </div>

            <!-- input mensaje -->
            <div class="my-5 p-3">
                <label for="Mensaje">Mensaje</label>
                <textarea overUp name="Mensaje" id="Mensaje" cols="30" rows="10"  formControlName="Mensaje" [(ngModel)]="Mensaje" class="border-2 border-gray-500 p-2 rounded-md  focus:outline-teal-500"></textarea>
            </div>
  
  
            <!-- Button -->
            <div class="my-5 py-1 px-3 text-white bg-blue-500 rounded">
                <button [disabled]="formContacto.invalid" type="submit">Enviar</button>
            </div>
        </form>
        <div>
            valido: {{formContacto.valid | json}}
        </div>
    </div>
    <div>
        <p *ngIf=" formContacto else bloque"></p>
        <ng-template #bloque>
            “Gracias por comunicarnos con nosotros”
        </ng-template>
    </div>
    <div>
        <p></p>
    </div>
  </div>